<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-positive bar-respond nav-title-slide-ios7">
    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		<ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    
    <ion-content class="has-header">
      <ion-list>
      	<div ng-repeat="item in menu">
	      	<ion-item nav-clear menu-close href="#/app/page/{{item.PageUniqId}}">
	          {{item.Name}}
	        </ion-item>
      	</div>
      </ion-list>
    </ion-content>
    
  </ion-side-menu>
</ion-side-menus>
